<div class="ground">
  <div class="cloth-desk">
    <div class="center">
      <h1 class="heading"><%= t('.title') %></h1>
    </div>
    <div class="center">
      <p><%= t('.nickname') %> : <%= @profile.nickname %></p>
    </div>
    <div class="center">
      <%= link_to t('helpers.edit'), edit_profile_path, class: "btn-green" %>
    </div>
  </div>
</div>