<div class='ground'>
  <% if @cards.present? %>
    <%= render @cards %>
  <% else %>
    <div class='cloth-desk'>
      <div class='center'>  
        <div class='heading'>Oops</div>
        <p>カードはまだ無いみたい。
      </div>
    </div>
  <% end %>
</div>