<div class='ground'>

  <div class='container'>
    <% if @cards.present? %>
      <%= render @cards %>
    <% else %>
      <div class='heading'>Oops</div>
      <p>カードはまだ無いみたい。
    <% end %>
  </div>

</div>