@use 'config';

.card {
  padding: 1em;
  width: 95%;
  background-color: config.$basecolor_lite;
  box-shadow: 2px 3px 3px config.$shadow;
  display: flex;
}

.card-title {
  display: inline-block;
  @include config.submain-noto-sans-jp(400)
}

.nickname {
  display: inline-block;
  right: 0;
}
