@use 'config';

.field {
  color: config.$basicfont;
  @include config.submain-noto-sans-jp(400);
  padding: 1%;
}

.text-field {
  border-radius: 5px;
  padding: 3%;
  border: 1px solid config.$basicfont;
  min-width: 300px;
}

.actions {
  text-align: center;
}
