@use 'config';

.footer {
  position: sticky;
  bottom: 0;
  padding: 0.5%;
  margin: 0%;
  width: 100%;
  background-color: config.$basecolor_dark;
}

.footer_title {
  text-align: center;
  @include config.main-font-inconsolata(200,200);
  color: config.$accentcolor_white;
  font-size: 15px;
}