@use 'palette';
@use 'parts';
@use 'font';

.footer {
  position: sticky;
  bottom: 0;
  padding: 0.5%;
  margin: 0%;
  width: 100%;
  background-color: palette.$basecolor_dark;
}

.footer_title {
  text-align: center;
  @include font.main_font_inconsolata(200,200);
  color: palette.$accentcolor_white;
  font-size: 15px;
}