@use 'config';

.header {
  background-color: config.$basecolor_lite;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 10;
  box-shadow: 0px 2px 3px 3px config.$shadow;
}

.main_title {
  @include config.main-font-inconsolata(900,200);
  color: transparent;
  background: config.$accentcolor_green_dark;
  font-size: 50px;
  margin-left: 10px;
  text-shadow: 3px 3px 0px config.$light-shadow;
  background-clip: text;
}

.hamburger-menu {
  margin-left: auto;

  /* Nav items */
  .menu {
    list-style: none;
    position: absolute;
    right: 0;
    top: 75px;
    width: auto;
    height: auto;
    padding: 10px 15px;
    clear: both;
    background: config.$basecolor_lite;
    border: 1px solid config.$accentcolor_gray;
    border-radius: 5px;
    box-shadow: 0 4px 6px config.$shadow;
    transform: scale(1, 0);
    transform-origin: top;
    transition: 0.3s ease-in-out;
    overflow: hidden; 
  }

  /* Hamburger menu button */
  .menu-btn:checked ~ .menu {
    transform: scale(1, 1);
  }

  /* Hamburger menbu text */
  .menu a {
    text-decoration: none;
    font-size: 20px;
    color: config.$basicfont;
    display: block;
    padding: 10px 10px;
    transition: 0.2s;
  }

  .menu a:hover {
    color: config.$accentcolor_green;
    border-radius: 3px;
  }

  .menu li {
    margin: 5px 0;
  }

  .menu-btn:checked ~ .menu a,
  .menu-btn:checked ~ .menu li {
    opacity: 1;
    transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.2s;
  }

  .menu-btn {
    display: none;
  }

  .menu-icon {
    display: inline-block;
    position: relative;
    cursor: pointer;
    padding: 24px 14px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  .navicon {
    display: block;
    height: 3px;
    width: 26px;
    position: relative;
    color: transparent;
    background: config.$accentcolor_gray;
    box-shadow: inset 1px 1px 0px config.$shadow;
    transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
  }

  .navicon:before,
  .navicon:after {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    background: config.$accentcolor_gray;
    box-shadow: inset 1px 1px 0px config.$shadow;
    transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
  }

  .navicon:before {
    top: 9px;
  }

  .navicon:after {
    bottom: 9px;
  }

  /* Hamburger Menu Animation Start */
  .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }

  .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }

  .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before {
    top: 0;
  }
  .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    bottom: 0;
  }

  .menu-btn:checked ~ .menu-icon .navicon {
    background: rgba(0, 0, 0, 0);
    box-shadow: inset 0px 0px 0px config.$shadow;
    transition: 0.2192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
  }
  /* Hamburger Menu Animation End */

  /* Navbar Container */
  .navtext-container {
    width: 100%;
    height: 52px;
    position: absolute;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* Navbar Text */
  .navtext {
    position: absolute;
    text-transform: uppercase;
    color: #ddd;
    letter-spacing: 4px;
    font-size: 20px;
  }

}

