@use 'palette';
@use 'parts';
@use 'font';

.ground {
  background-color: palette.$basecolor;
}

.heading {
  @include font.main_font_inconsolata(900,150);
  color: palette.$accentcolor_green;
  font-size: 40px;
}

