
$basecolor_lite: #FEFEFE;
$basecolor: #F1F4F4;
$basecolor_dark: #B7C7C6;
$base_green: #DAF8F6;
$base_red: #FEC2C9;


$accentcolor_green: #89EBE5;
$accentcolor_red: #FD8E9B;
$accentcolor_white: #FEFEFE;
$accentcolor_gray: #CECECE;

$basicfont: #839593;

$shadow: rgba(0, 0, 0, 0.1);