
<div class='desk'>
  <div class='center'>
    <div class='text-center'>
      <h2><%= t('.greeting', email: @email) %></h2>

      <p><%= t('.message') %></p>
    
      <%= link_to t('.sign_in'), confirmation_url(@resource, confirmation_token: @token), class: "btn-green" %>

      <h2 class='mark'>SYN_on</h2>
    </div>
  </div>
</div>
